.font-style-17px {
	font-size: 17px;
}

.font-bell-mt {
	font-family: Bell MT;
}

.letter-spacing-9px {
	letter-spacing: 9px;
}

.margin-top-217px {
	margin-top: -217px;
}

.padding-top-20px {
	padding-top: 20px;
}

.padding-bottom-18px {
	padding-bottom: 18px!important;
}